.dataTables_filter input, select, option {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/*remove the default datable arrow in table heads*/
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background : none;
}

/*remove the border from the bottom of the table heads*/
table.dataTable thead th {
    border-bottom: none;
}

/*remove the border from the bottom of the table*/
table.dataTable.no-footer {
    border-bottom: none;
}