{% extends 'layout.html' %}

{% block title %}Smart Water Sprinkler{% endblock %}

{% block content %}
<div class="container mt-4">
  <h3 class="text-center mb-4">Smart Water Sprinkler</h3>

  <div class="row justify-content-center mb-4">
    <div class="col-auto">
      <button class="btn btn-primary mx-2" onclick="turnOff()">Turn Off</button>
      <button class="btn btn-primary mx-2" onclick="turnOn()">Turn On</button>
      <button class="btn btn-danger mx-2" onclick="intruder()">Spray at Intruder</button>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <h3 class="text-center">Adjust the wetness threshold to turn on the water sprinkler:</h3>
    <form id="wetness-form">
      <div class="d-flex justify-content-center">
        <div>
          <label for="wetness">New Wetness Threshold (You can enter any value between 100 to 500):</label>
          <input type="number" id="wetness" name="wetness" class="form-control" placeholder="0">
        </div>
        <div class="ms-2 d-flex align-items-center">
          <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row justify-content-start">
    <div class="col-md-6">
      <div class="text-left">
        <form id="date-form">
          <div class="form-group mb-0">
            <div class="input-group">
              <label for="date" class="input-group-prepend d-flex align-items-center me-2">Select a date to view the environment data:</label>
              <input type="date" id="date" name="date" class="form-control" onchange="updateEnvironmentData()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-12">
      <div id="environmentChart"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  function turnOff() {
    $.ajax({
      url: "/api/node_1/action1",
      type: "GET",
      success: function() {
        alert("Water sprinkler successfully turned off!");
      },
      error: function() {
        alert("Water sprinkler failed to turn off!");
      }
    });
  }
  function turnOn() {
    $.ajax({
      url: "/api/node_1/action2",
      type: "GET",
      success: function() {
        alert("Water sprinkler successfully turned on!");
      },
      error: function() {
        alert("Water sprinkler failed to turn on!");
      }
    });
  }
  function intruder() {
    $.ajax({
      url: "/api/node_1/action3",
      type: "GET",
      success: function() {
        alert("Water sprinkler successfully sprayed at intruder!");
      },
      error: function() {
        alert("Water sprinkler failed to spray at intruder!");
      }
    });
  }
  function submitForm() {
    var wetness = document.getElementById("wetness").value;
    if (wetness < 100 || wetness > 500) {
      alert("Please enter a value between 100 and 500");
      return;
    }
    $.ajax({
      url: "/api/node_1/submit-form",
      type: "POST",
      data: $("#wetness-form").serialize(),
      success: function() {
        alert("Form submitted successfully!");
      },
      error: function() {
        alert("Form submission failed!");
      }
    });
  }

  var environmentChart = null;

  function updateEnvironmentData() {
    //check if date has value if not give it today's date
    if ($("#date").val() === "") {
      $("#date").val(new Date().toISOString().slice(0, 10));
    }
    date = $("#date").val();
    $.ajax({
      url: "/api/node_1/get-environment-data",
      type: "POST",
      data: {
        date: date
      },
      dataType: "json",
      success: function(data) {
        if (environmentChart === null) {
          var options = {
            chart: {
              type: 'line',
              height: 350
            },
            series: [
              {
                name: 'Temperature (°C)',
                data: []
              },
              {
                name: 'Brightness (%)',
                data: []
              },
              {
                name: 'Wetness (%)',
                data: []
              }
            ],
            xaxis: {
              type: 'datetime',
              title: {
                text: 'Time'
              }
            },
            yaxis: {
              min: 0,
              max: 100
            },
            noData: {
              text: 'Data not available'
            }
          };
          var chartData = [];
          for (var i = 0; i < data.length; i++) {
            chartData.push({
              x: new Date(data[i].hour),
              y: [
                data[i].avg_temperature,
                data[i].avg_brightness,
                data[i].avg_wetness
              ]
            });
          }
          options.series.forEach(function(series, index) {
            series.data = chartData.map(function(item) {
              return {
                x: item.x,
                y: item.y[index]
              };
            });
          });
          var chartElement = document.getElementById('environmentChart');
          environmentChart = new ApexCharts(chartElement, options);
          environmentChart.render();
        } else {
          var chartData = [];
          for (var i = 0; i < data.length; i++) {
            chartData.push({
              x: new Date(data[i].hour),
              y: [
                data[i].avg_temperature,
                data[i].avg_brightness,
                data[i].avg_wetness
              ]
            });
          }
          environmentChart.updateSeries([
            {
              name: 'Temperature',
              data: chartData.map(function(item) {
                return {
                  x: item.x,
                  y: item.y[0]
                };
              })
            },
            {
              name: 'Brightness',
              data: chartData.map(function(item) {
                return {
                  x: item.x,
                  y: item.y[1]
                };
              })
            },
            {
              name: 'Wetness',
              data: chartData.map(function(item) {
                return {
                  x: item.x,
                  y: item.y[2]
                };
              })
            }
          ]);
        }
      },
      error: function() {
        alert("Failed to get environment data!");
      }
    });
  }

  $(document).ready(function() {
    updateEnvironmentData();
  });
</script>
{% endblock %}