{% extends 'layout.html' %}

{% block title %}Smart Water Sprinkler{% endblock %}

{% block content %}
<h1> Smart Water Sprinkler </h1>

<button class="btn btn-primary" onclick="turnOff()">Turn Off</button>
<button class="btn btn-primary" onclick="turnOn()">Turn On</button>
<button class="btn btn-danger" onclick="intruder()">Spray at Intruder</button>

<h3>Adjust the wetness threshold to turn on the water sprinkler:</h3>
<h3>You can enter any value between 100 to 500</h3>
<form action="/api/node_1/submit-form" method="POST">
  <label for="wetness value">New Wetness Threshold:</label>
  <input type="number" id="wetness" name="wetness" placeholder="0"><br><br>
  <input type="submit" value="SUBMIT" onclick="showMessage()"><br>
</form>
<div>
  <div id="healthChart" class="mt-4"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function turnOff() {
    $.ajax({
      url: "/api/node_1/action1",
      type: "GET",
      success: function() {
        alert("Water sprinkler successfully turned off!");
      },
      error: function() {
        alert("Water sprinkler failed to turn off!");
      }
    });
  }
  function turnOn() {
    $.ajax({
      url: "/api/node_1/action2",
      type: "GET",
      success: function() {
        alert("Water sprinkler successfully turned on!");
      },
      error: function() {
        alert("Water sprinkler failed to turn on!");
      }
    });
  }
  function intruder() {
    $.ajax({
      url: "/api/node_1/action3",
      type: "GET",
      success: function() {
        alert("Water sprinkler successfully sprayed at intruder!");
      },
      error: function() {
        alert("Water sprinkler failed to spray at intruder!");
      }
    });
  }
</script>

{% endblock %}