{% extends 'layout.html' %}

{% block title %}Configurations{% endblock %}

{% block head %}
<link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css " rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row mt-4">
        <h3 class="text-center">Home Appliance Control</h3>
        <div class="text-center mb-3">
            <button type="button" class="btn btn-primary" onclick="disengageOverride()">Disengage Manual Override</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2">
            <p>Room 1 Light</p>
            <button type="button" class="btn btn-primary" onclick="sendData(1, 1)">On</button>
            <button type="button" class="btn btn-secondary" onclick="sendData(1, 0)">Off</button>
        </div>
        <div class="col-md-2">
            <p>Corridor Light</p>
            <button type="button" class="btn btn-primary" onclick="sendData(2, 1)">On</button>
            <button type="button" class="btn btn-secondary" onclick="sendData(2, 0)">Off</button>
        </div>
        <div class="col-md-2">
            <p>Room 2 Light</p>
            <button type="button" class="btn btn-primary" onclick="sendData(3, 1)">On</button>
            <button type="button" class="btn btn-secondary" onclick="sendData(3, 0)">Off</button>
        </div>
        <div class="col-md-2">
            <p>Room 1 Aircon</p>
            <button type="button" class="btn btn-primary" onclick="sendData(4, 1)">On</button>
            <button type="button" class="btn btn-secondary" onclick="sendData(4, 0)">Off</button>
        </div>
        <div class="col-md-2">
            <p>Room 2 Aircon</p>
            <button type="button" class="btn btn-primary" onclick="sendData(5, 1)">On</button>
            <button type="button" class="btn btn-secondary" onclick="sendData(5, 0)">Off</button>
        </div>
        <div class="col-md-2">
            <p>Ventilating Fan</p>
            <button type="button" class="btn btn-primary" onclick="sendData(6, 1)">On</button>
            <button type="button" class="btn btn-secondary" onclick="sendData(6, 0)">Off</button>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <h3 class="text-center">Aircon Control</h3>
        <form>
            <div class="d-flex justify-content-center">
                <div class="mx-2 d-flex align-items-center">
                    <label for="appliance_id">Appliance ID:</label>
                </div>
                <div>
                    <select id="appliance_id" name="appliance_id" class="form-control" required>
                        <option value="4">Room 1 Aircon</option>
                        <option value="5">Room 2 Aircon</option>
                    </select>
                </div>
                <div class="mx-2 d-flex align-items-center">
                    <label for="value">Value:</label>
                </div>
                <div>
                    <input type="number" id="value" name="value" min="16" max="30" class="form-control" required>
                </div>
                <div class="ms-2 d-flex align-items-center">
                    <button type="button" class="btn btn-primary" onclick="updateTemp()">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-start mt-4">
        <div class="col-md-6">
            <div class="text-left">
                <form id="date-form">
                    <div class="form-group mb-0">
                        <div class="input-group">
                            <label for="month" class="input-group-prepend d-flex align-items-center me-2">Month:</label>
                            <select id="month" name="month" class="form-control" onchange="updateApplianceData()">
                                <option value="" selected disabled hidden>Choose here</option>
                                <option value="1">January</option>
                                <option value="2">Febuary</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">Septemeber</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">Decemeber</option>
                            </select>
                            <label for="year" class="input-group-prepend d-flex align-items-center me-2 ms-3">Year:</label>
                            <input type="number" id="year" name="year" class="form-control" min="0" max="9999" onchange="updateApplianceData()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-12">
            <div id="applianceChart"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js "></script>
<script>
    const appliance_obj = {
        1: "Room 1 Light",
        2: "Corridor Light",
        3: "Room 2 Light",
        4: "Room 1 Aircon",
        5: "Room 2 Aircon",
        6: "Ventilating Fan"
    }

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        showCloseButton: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    function updateTemp() {
        var value = document.getElementById("value").value;
        if (value < 16 || value > 30) {
            Toast.fire({
                icon: 'error',
                title: 'Invalid temperature value! Please enter a value between 16 and 30.'
            })
            return;
        }
        
        var formData = new FormData();
        formData.append("appliance_id", document.getElementById("appliance_id").value);
        formData.append("value", value);
        
        fetch("/api/node_2/remote_aircon_temp", {
            method: "POST",
            body: formData
        })
        .then(response => {
            if (response.status === 304) {
                throw new Error("Aircon temperature not changed!");
            } else if (response.status === 500) {
                throw new Error("Aircon temperature change failed!");
            } else if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.text();
        })
        .then(data => {
            Toast.fire({
                icon: 'success',
                title: 'Aircon temperature updated successfully!'
            })
        })
        .catch(error => {
            Toast.fire({
                icon: error.message === "Aircon temperature not changed!" ? 'info' : 'error',
                title: error.message
            })
        });
    }

    function sendData(appliance_id, status) {
        var formData = new FormData();
        formData.append("appliance_id", appliance_id);
        formData.append("status", status);

        fetch("/api/node_2/remote_trigger", {
            method: "POST",
            body: formData
        })
        .then(response => {
            if (response.status === 304) {
                throw new Error("Appliance status not changed!");
            } else if (response.status === 500) {
                throw new Error("Appliance status change failed!");
            } else if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.text();
        })
        .then(data => {
            Toast.fire({
                icon: 'success',
                title: 'Appliance status updated successfully!'
            })
        })
        .catch(error => {
            Toast.fire({
                icon: error.message === "Appliance status not changed!" ? 'info' : 'error',
                title: error.message
            })
        });
    }

    function disengageOverride() {
        fetch("/api/node_2/disengage_override")
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.text();
        })
        .then(data => {
            Toast.fire({
                icon: 'success',
                title: 'Override disengaged successfully!'
            })
        })
        .catch(error => {
            console.error("There was a problem with the fetch operation:", error);
        });
    }

    var applianceChart = null;
    function updateApplianceData() {
        //check if month and year have values, if not give them current month and year
        if ($("#month").val() == null) {
            $("#month").val(new Date().getMonth() + 1);
        }
        if ($("#year").val() == "") {
            $("#year").val(new Date().getFullYear());
        }
        var month = $("#month").val();
        var year = $("#year").val();
        $.ajax({
            url: "/api/node_2/get_appliance_uptime",
            type: "POST",
            data: {
                month: month,
                year: year
            },
            dataType: "json",
            success: function(data) {
                if (applianceChart === null) {
                    var options = {
                        chart: {
                            type: 'line',
                            height: 350
                        },
                        series: [
                            {
                            name: 'Room 1 Light',
                            data: []
                            },
                            {
                            name: 'Corridor Light',
                            data: []
                            },
                            {
                            name: 'Room 2 Light',
                            data: []
                            },
                            {
                            name: 'Room 1 Aircon',
                            data: []
                            },
                            {
                            name: 'Room 2 Aircon',
                            data: []
                            },
                            {
                            name: 'Ventilating Fan',
                            data: []
                            }
                        ],
                        xaxis: {
                            type: 'datetime'
                        },
                        yaxis: {
                            min: 0,
                            title: {
                                text: 'Uptime (Minutes)',
                                style: {
                                    fontSize: '14px',
                                    fontWeight: 600,
                                    color: '#263238'
                                }
                            }
                        },
                        noData: {
                            text: 'Data not available'
                        }
                    };
                    for (var i = 0; i < data.length; i++) {
                        var applianceIndex = appliance_obj[data[i].appliance_id];
                        options.series[data[i].appliance_id - 1].data.push({
                            x: new Date(data[i].date),
                            y: data[i].uptime
                        });
                    }
                    var chartElement = document.getElementById('applianceChart');
                    applianceChart = new ApexCharts(chartElement, options);
                    applianceChart.render();
                } else {
                    if (data.length > 0) {
                        series = [
                            {
                            name: 'Room 1 Light',
                            data: []
                            },
                            {
                            name: 'Corridor Light',
                            data: []
                            },
                            {
                            name: 'Room 2 Light',
                            data: []
                            },
                            {
                            name: 'Room 1 Aircon',
                            data: []
                            },
                            {
                            name: 'Room 2 Aircon',
                            data: []
                            },
                            {
                            name: 'Ventilating Fan',
                            data: []
                            }
                        ];
                        for (var i = 0; i < data.length; i++) {
                            var applianceIndex = appliance_obj[data[i].appliance_id];
                            series[data[i].appliance_id - 1].data.push({
                                x: new Date(data[i].date),
                                y: data[i].uptime
                            });
                        }
                        applianceChart.updateSeries(series);
                    } else {
                        applianceChart.updateSeries([]);
                    }
                }
            },
            error: function() {
                alert("Failed to get appliance uptime data!");
            }
        });
    }

    $(document).ready(function() {
        updateApplianceData();
    });
</script>
{% endblock %}
