{% extends 'layout.html' %}

{% block title %}Configurations{% endblock %}

{% block content %}
<div class="container">
    <form id="myForm1" action="/api/node_2/remote_aircon_temp" method="POST">
        <fieldset>
            <legend>Aircon Temperature Control</legend>
            <label for="appliance_id">Appliance ID:</label>
            <select id="appliance_id" name="appliance_id" required>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label for="value">Value:</label>
            <input type="number" id="value" name="value" min="16" max="30" required>
            <br>
        </fieldset>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p>Room 1 Light</p>
                <button type="button" class="btn btn-primary" onclick="sendData(1, 1)">On</button>
                <button type="button" class="btn btn-secondary" onclick="sendData(1, 0)">Off</button>
            </div>
            <div class="col-md-2">
                <p>Corridor Light</p>
                <button type="button" class="btn btn-primary" onclick="sendData(2, 1)">On</button>
                <button type="button" class="btn btn-secondary" onclick="sendData(2, 0)">Off</button>
            </div>
            <div class="col-md-2">
                <p>Room 2 Light</p>
                <button type="button" class="btn btn-primary" onclick="sendData(3, 1)">On</button>
                <button type="button" class="btn btn-secondary" onclick="sendData(3, 0)">Off</button>
            </div>
            <div class="col-md-2">
                <p>Room 1 Aircon</p>
                <button type="button" class="btn btn-primary" onclick="sendData(4, 1)">On</button>
                <button type="button" class="btn btn-secondary" onclick="sendData(4, 0)">Off</button>
            </div>
            <div class="col-md-2">
                <p>Room 2 Aircon</p>
                <button type="button" class="btn btn-primary" onclick="sendData(5, 1)">On</button>
                <button type="button" class="btn btn-secondary" onclick="sendData(5, 0)">Off</button>
            </div>
            <div class="col-md-2">
                <p>Ventilating Fan</p>
                <button type="button" class="btn btn-primary" onclick="sendData(6, 1)">On</button>
                <button type="button" class="btn btn-secondary" onclick="sendData(6, 0)">Off</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="text-left">
            <form id="date-form">
                <div class="form-group mb-0">
                <div class="input-group">
                    <label for="month" class="input-group-prepend d-flex align-items-center me-2">Month:</label>
                    <select id="month" name="month" class="form-control" onchange="updateApplianceData()">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="1">January</option>
                        <option value="2">Febuary</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">Septemeber</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">Decemeber</option>
                    </select>
                    <label for="year" class="input-group-prepend d-flex align-items-center me-2 ms-3">Year:</label>
                    <input type="number" id="year" name="year" class="form-control" min="0" max="9999" onchange="updateApplianceData()">
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-12">
            <div id="applianceChart"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    document.getElementById("myForm1").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent form submission
      
      var form = event.target;
      var formData = new FormData(form);
      
      fetch(form.action, {
        method: form.method,
        body: formData
      })
      .then(response)
      .then(data => {
        // Request successful, do something with the response
        alert(data)
      })
      .catch(error => {
        // Handle any errors
        console.error(error);
      });
    });

    function sendData(appliance_id, status) {
        var formData = new FormData();
        formData.append("appliance_id", appliance_id);
        formData.append("status", status);

        fetch("/api/node_2/remote_trigger", {
            method: "POST",
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.text();
        })
        .then(data => {
            alert(data);
        })
        .catch(error => {
            console.error("There was a problem with the fetch operation:", error);
        });
    }
    var applianceChart = null;

    function updateApplianceData() {
        //check if month and year have values, if not give them current month and year
        if ($("#month").val() == null) {
            $("#month").val(new Date().getMonth() + 1);
        }
        if ($("#year").val() == "") {
            $("#year").val(new Date().getFullYear());
        }
        var month = $("#month").val();
        var year = $("#year").val();
        $.ajax({
            url: "/api/node_2/get_appliance_uptime",
            type: "POST",
            data: {
                month: month,
                year: year
            },
            dataType: "json",
            success: function(data) {
                if (applianceChart === null) {
                    var options = {
                    chart: {
                        type: 'line',
                        height: 350
                    },
                    series: [
                        {
                        name: 'Appliance 1',
                        data: []
                        },
                        {
                        name: 'Appliance 2',
                        data: []
                        },
                        {
                        name: 'Appliance 3',
                        data: []
                        },
                        {
                        name: 'Appliance 4',
                        data: []
                        },
                        {
                        name: 'Appliance 5',
                        data: []
                        },
                        {
                        name: 'Appliance 6',
                        data: []
                        }
                    ],
                    xaxis: {
                        type: 'datetime'
                    },
                    yaxis: {
                        min: 0
                    },
                    noData: {
                        text: 'Data not available'
                    }
                    };
                    for (var i = 0; i < data.length; i++) {
                    var applianceIndex = data[i].appliance_id - 1;
                    options.series[applianceIndex].data.push({
                        x: new Date(data[i].date),
                        y: data[i].uptime
                    });
                    }
                    var chartElement = document.getElementById('applianceChart');
                    applianceChart = new ApexCharts(chartElement, options);
                    applianceChart.render();
                } else {
                    for (var i = 0; i < data.length; i++) {
                    var applianceIndex = data[i].appliance_id - 1;
                    var chartData = {
                        x: new Date(data[i].date),
                        y: data[i].uptime
                    };
                    applianceChart.updateSeries([
                        {
                        name: 'Appliance ' + (applianceIndex + 1),
                        data: [chartData]
                        }
                    ]);
                    }
                }
            },
            error: function() {
                alert("Failed to get appliance uptime data!");
            }
        });
    }

    $(document).ready(function() {
        updateApplianceData();
    });
</script>
{% endblock %}
