{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css " rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    {% if role == "Admin" %}
    <div>
        <h3>Profile Table</h3>
        <table id="profileTable" class="display table table-bordered w-100 my-2"></table>
    </div>
    <div>
        <h3>RFID Table</h3>
        <table id="rfidTable" class="display table table-bordered w-100 my-2"></table>
    </div>
    {% endif %}
    <div class="row align-items-center">
        <h3 class="text-center mt-3">Update Profile</h3>
        <form id="profileForm" action="/api/node_3/update_profile" method="post" class="row align-items-center">
          <div class="col-md-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" id="birthday" name="birthday" class="form-control">
          </div>
          <div class="col-md-3">
            <label for="height" class="form-label">Height (cm)</label>
            <input type="text" id="height" name="height" class="form-control">
          </div>
          <div class="col-md-3">
            <label for="weight" class="form-label">Weight (kg)</label>
            <input type="text" id="weight" name="weight" class="form-control">
          </div>
          <div class="col-md-3">
            <div class="form-submit">
              <input type="submit" value="Update Profile" class="btn btn-primary">
            </div>
          </div>
        </form>
    </div>
    {% if role == "Admin" %}
    <div class="row">
        <h3 class="text-center mt-3">Update System Config</h3>
        <!--Edit the country code which the weather api depends on-->
        <form id="configForm" action="/api/node_1/config" method="post">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <label for="iata_region" class="form-label">IATA Region</label>
                    <select id="iata_region" name="iata_region" class="form-select"></select>
                </div>
                <div class="col-md-3">
                    <div class="form-submit">
                        <input type="submit" value="Update Config" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js "></script>
{% if role == 'Admin' %}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="/static/country_code.js"></script>
<script>
    function getProfile() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                type: "GET",
                url: "/api/node_3/profile",
                success: function (result) {
                    resolve(result);
                },
                error: function (result) {
                    reject(result);
                }
            });
        })
    }
    function getRfid() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                type: "GET",
                url: "/api/node_3/rfid",
                success: function (result) {
                    resolve(result);
                },
                error: function (result) {
                    reject(result);
                }
            });
        })
    }
    $(document).ready(function() {
        getProfile().then(function(result) {
            $('#profileTable').DataTable({
                data: result,
                columns: [
                    { title: "Profile ID", data: "profile_id" },
                    { title: "RFID ID", data: "rfid_id" },
                    { title: "Name", data: "name" },
                    { title: "Birthday", data: "birthday" },
                    { title: "Height (cm)", data: "height" },
                    { title: "Weight (kg)", data: "weight" },
                    { title: "BMI", data: "bmi"},
                ]
            });
        })
        getRfid().then(function(result) {
            $('#rfidTable').DataTable({
                data: result,
                columns: [
                    { title: "RFID ID", data: "rfid_id" },
                    { title: "Number", data: "number" },
                ]
            });
        })
        populateInput('iata_region');
        $('#iata_region').val('{{ iata_region }}');
        $('#configForm').submit(function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data, status, xhr) {
                    if (xhr.status === 304) {
                        Toast.fire({
                            icon: 'info',
                            title: 'Config not modified!'
                        })
                    } else {
                        Toast.fire({
                            icon: 'success',
                            title: 'Config Updated!'
                        })
                    }
                },
                error: function(xhr, status, error) {
                    Toast.fire({
                        icon: 'error',
                        title: 'Config failed to update! Check your input!'
                    })
                }
            });
        });
    });
</script>
{% endif %}
<script>
$(document).ready(function() {
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        showCloseButton: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })
    $("#birthday").val(new Date("{{ birthday }}").toISOString().slice(0, 10));
    $("#height").val({{ height }});
    $("#weight").val({{ weight }});
    $('#profileForm').submit(function(event) {
        event.preventDefault();
        var form = $(this);
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function(data, status, xhr) {
                if (xhr.status === 304) {
                    Toast.fire({
                        icon: 'info',
                        title: 'Profile not modified!'
                    })
                } else {
                    Toast.fire({
                        icon: 'success',
                        title: 'Profile Updated!'
                    })
                }
            },
            error: function(xhr, status, error) {
                Toast.fire({
                    icon: 'error',
                    title: 'Profile failed to update! Check your input!'
                })
            }
        });
    });
});
</script>
{% endblock %}
