{% extends 'layout.html' %}

{% block title %}Smart Security{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css " rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    <h1 class="text-center mb-4">Smart Door Controls</h1>
    <div class="row justify-content-center mb-4">
        <div class="col-auto">
            <button class="btn btn-primary mx-2" onclick="openDoor()">Unlock Door</button>
            <button class="btn btn-primary mx-2" onclick="closeDoor()">Lock Door</button>
        </div>
    </div>
    <div>
        <h3 class="mt-4">History Table</h3>
        <table id="historyTable" class="display table table-bordered w-100 my-2"></table>
        <h3 class="mt-4">Stranger Table</h3>
        <table id="strangerTable" class="display table table-bordered w-100 my-2"></table>
    </div>
    <h3 class="mt-4">Update Settings</h3>
    <form id="settingsForm" class="form-inline" action="/api/node_3/update_settings" method="post">
        <div class="row form-group align-items-end">
            <div class="col-md-2">
                <label for="door-height">Door Height (cm)</label>
                <select class="form-control" name="door-height" id="door-height">
                    <option disabled selected value>-- Select --</option>
                    <option value="180">180 cm</option>
                    <option value="185">185 cm</option>
                    <option value="190">190 cm</option>
                    <option value="195">195 cm</option>
                    <option value="200">200 cm</option>
                    <option value="205">205 cm</option>
                    <option value="210">210 cm</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="in-distance-threshold">In Distance Threshold (cm)</label>
                <select class="form-control" name="in-distance-threshold" id="in-distance-threshold">
                    <option disabled selected value>-- Select --</option>
                    <option value="30">30 cm</option>
                    <option value="35">35 cm</option>
                    <option value="40">40 cm</option>
                    <option value="45">45 cm</option>
                    <option value="50">50 cm</option>
                    <option value="55">55 cm</option>
                    <option value="60">60 cm</option>
                    <option value="65">65 cm</option>
                    <option value="70">70 cm</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="out-distance-threshold">In Distance Threshold (cm)</label>
                <select class="form-control" name="out-distance-threshold" id="out-distance-threshold">
                    <option disabled selected value>-- Select --</option>
                    <option value="30">30 cm</option>
                    <option value="35">35 cm</option>
                    <option value="40">40 cm</option>
                    <option value="45">45 cm</option>
                    <option value="50">50 cm</option>
                    <option value="55">55 cm</option>
                    <option value="60">60 cm</option>
                    <option value="65">65 cm</option>
                    <option value="70">70 cm</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="closing-duration">Closing Duration (seconds)</label>
                <select class="form-control" name="closing-duration" id="closing-duration">
                    <option disabled selected value>-- Select --</option>
                    <option value="3">3 seconds</option>
                    <option value="4">4 seconds</option>
                    <option value="5">5 seconds</option>
                    <option value="6">6 seconds</option>
                    <option value="7">7 seconds</option>
                    <option value="8">8 seconds</option>
                    <option value="9">9 seconds</option>
                    <option value="10">10 seconds</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="detection-duration">Detection Duration (seconds)</label>
                <select class="form-control" name="detection-duration" id="detection-duration">
                    <option disabled selected value>-- Select --</option>
                    <option value="3">3 seconds</option>
                    <option value="4">4 seconds</option>
                    <option value="5">5 seconds</option>
                    <option value="6">6 seconds</option>
                    <option value="7">7 seconds</option>
                    <option value="8">8 seconds</option>
                    <option value="9">9 seconds</option>
                    <option value="10">10 seconds</option>
                    <option value="11">11 seconds</option>
                    <option value="12">12 seconds</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="face-detection-duration">Detection Duration (seconds)</label>
                <select class="form-control" name="face-detection-duration" id="face-detection-duration">
                    <option disabled selected value>-- Select --</option>
                    <option value="3">3 seconds</option>
                    <option value="4">4 seconds</option>
                    <option value="5">5 seconds</option>
                    <option value="6">6 seconds</option>
                    <option value="7">7 seconds</option>
                    <option value="8">8 seconds</option>
                    <option value="9">9 seconds</option>
                    <option value="10">10 seconds</option>
                    <option value="11">11 seconds</option>
                    <option value="12">12 seconds</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js "></script>
<script>
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        showCloseButton: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    function openDoor() {
        $.ajax({
            url: "/api/node_3/control1",
            type: "GET",
            success: function() {
                Toast.fire({
                    icon: 'success',
                    title: 'Door Opened!'
                })
            },
            error: function() {
                Toast.fire({
                    icon: 'error',
                    title: 'Door failed to open!'
                })
            }
        });
    }
    function closeDoor() {
        $.ajax({
            url: "/api/node_3/control2",
            type: "GET",
            success: function() {
                Toast.fire({
                    icon: 'success',
                    title: 'Door Closed!'
                })
            },
            error: function() {
                Toast.fire({
                    icon: 'error',
                    title: 'Door failed to close!'
                })
            }
        });
    }
    function getHistory() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                type: "GET",
                url: "/api/node_3/history",
                success: function (result) {
                    resolve(result);
                },
                error: function (result) {
                    reject(result);
                }
            });
        })
    }
    function getStranger() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                type: "GET",
                url: "/api/node_3/stranger",
                success: function (result) {
                    resolve(result);
                },
                error: function (result) {
                    reject(result);
                }
            });
        })
    }
    $(document).ready(function() {
        $("#door-height").val({{ settings['door_height'] }});
        $("#in-distance-threshold").val({{ settings['distance_in_detection'] }});
        $("#out-distance-threshold").val({{ settings['distance_out_detection'] }});
        $("#closing-duration").val({{ settings['time_close'] }});
        $("#detection-duration").val({{ settings['time_detection'] }});
        $("#face-detection-duration").val({{ settings['time_face_detection'] }});
        getHistory().then(function(data) {
            $('#historyTable').DataTable({
                data: data,
                columns: [
                    { title: "History ID", data: "history_id" },
                    { title: "Profile ID", data: "profile_id" },
                    { title: "Date", data: "date" },
                    { title: "Time", data: "time" },
                    { title: "Height", data: "height" },
                    { title: "Weight", data: "weight" },
                    { title: "BMI", data: "bmi" },
                    { title: "In House", data: "in_house" },
                ]
            });
        });
        getStranger().then(function(data) {
            $('#strangerTable').DataTable({
                data: data,
                columns: [
                    { title: "Stranger ID", data: "stranger_id" },
                    { title: "Date", data: "date" },
                    { title: "Time", data: "time" },
                    { title: "Status", data: "status" },
                ]
            });
        });
        $('#settingsForm').submit(function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data, status, xhr) {
                    if (xhr.status === 304) {
                        Toast.fire({
                            icon: 'info',
                            title: 'Settings not modified!'
                        })
                    } else {
                        Toast.fire({
                            icon: 'success',
                            title: 'Settings Updated!'
                        })
                    }
                },
                error: function(xhr, status, error) {
                    Toast.fire({
                        icon: 'error',
                        title: 'Settings failed to update! Check your input!'
                    })
                }
            });
        });
    });
</script>
{% endblock %}