{% extends 'layout.html' %}

{% block title %}Smart Security{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <style>
        table tbody tr td {
            padding: 5px 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div>
            <h3 class="mt-4">History Table</h3>
            <table id="historyTable" class="display cell-border w-100 my-2"></table>
            <h3 class="mt-4">RFID Table</h3>
            <table id="rfidTable" class="display cell-border w-100 my-2"></table>
            <h3 class="mt-4">Stranger Table</h3>
            <table id="strangerTable" class="display cell-border w-100 my-2"></table>
        </div>
    </div>
    <h2>Controls</h2>

    <div class="homepage-control">
        <button class="homepage-control-btn" onclick="open()">Open</button>
        <button class="homepage-control-btn" onclick="close()">Close</button>
    </div>

        
    
    <h2>Settings Table</h2>

    <div class="table-container">
        <div class="table">
            <div class="table-row table-header">
                <div class="table-cell">Settings ID</div>
                <div class="table-cell">Door Height (cm)</div>
                <div class="table-cell">In Distance Threshold (cm)</div>
                <div class="table-cell">Out Distance Threshold (cm)</div>
                <div class="table-cell">Closing Duration (seconds)</div>
                <div class="table-cell">Detection Duration (seconds)</div>
                <div class="table-cell">Face Detection Duration (seconds)</div>
            </div>
              
            {% for item in settings %}
            <div class="table-row">
                <div class="table-cell">{{ item['settings_id'] }}</div>
                <div class="table-cell">{{ item['door_height'] }}</div>
                <div class="table-cell">{{ item['distance_in_detection'] }}</div>
                <div class="table-cell">{{ item['distance_out_detection'] }}</div>
                <div class="table-cell">{{ item['time_close'] }}</div>
                <div class="table-cell">{{ item['time_detection'] }}</div>
                <div class="table-cell">{{ item['time_face_detection'] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <h2 class="settings-h2">Update Settings</h2>

    <div class="form">
        <form action="/api/node_3/update_settings" method="post">
            <label for="door-height">Door Height (cm)</label>
            <select name="door-height" id="door-height">
                <option disabled selected value>-- Select --</option>
                <option value="180">180 cm</option>
                <option value="185">185 cm</option>
                <option value="190">190 cm</option>
                <option value="195">195 cm</option>
                <option value="200">200 cm</option>
                <option value="205">205 cm</option>
                <option value="210">210 cm</option>
            </select>

            <label for="in-distance-threshold">In Distance Threshold (cm)</label>
            <select name="in-distance-threshold" id="in-distance-threshold">
                <option disabled selected value>-- Select --</option>
                <option value="30">30 cm</option>
                <option value="35">35 cm</option>
                <option value="40">40 cm</option>
                <option value="45">45 cm</option>
                <option value="50">50 cm</option>
                <option value="55">55 cm</option>
                <option value="60">60 cm</option>
                <option value="65">65 cm</option>
                <option value="70">70 cm</option>
            </select>

            <label for="out-distance-threshold">In Distance Threshold (cm)</label>
            <select name="out-distance-threshold" id="out-distance-threshold">
                <option disabled selected value>-- Select --</option>
                <option value="30">30 cm</option>
                <option value="35">35 cm</option>
                <option value="40">40 cm</option>
                <option value="45">45 cm</option>
                <option value="50">50 cm</option>
                <option value="55">55 cm</option>
                <option value="60">60 cm</option>
                <option value="65">65 cm</option>
                <option value="70">70 cm</option>
            </select>

            <label for="closing-duration">Closing Duration (seconds)</label>
            <select name="closing-duration" id="closing-duration">
                <option disabled selected value>-- Select --</option>
                <option value="3">3 seconds</option>
                <option value="4">4 seconds</option>
                <option value="5">5 seconds</option>
                <option value="6">6 seconds</option>
                <option value="7">7 seconds</option>
                <option value="8">8 seconds</option>
                <option value="9">9 seconds</option>
                <option value="10">10 seconds</option>
            </select>

            <label for="detection-duration">Detection Duration (seconds)</label>
            <select name="detection-duration" id="detection-duration">
                <option disabled selected value>-- Select --</option>
                <option value="3">3 seconds</option>
                <option value="4">4 seconds</option>
                <option value="5">5 seconds</option>
                <option value="6">6 seconds</option>
                <option value="7">7 seconds</option>
                <option value="8">8 seconds</option>
                <option value="9">9 seconds</option>
                <option value="10">10 seconds</option>
                <option value="11">11 seconds</option>
                <option value="12">12 seconds</option>
            </select>

            <label for="face-detection-duration">Detection Duration (seconds)</label>
            <select name="face-detection-duration" id="face-detection-duration">
                <option disabled selected value>-- Select --</option>
                <option value="3">3 seconds</option>
                <option value="4">4 seconds</option>
                <option value="5">5 seconds</option>
                <option value="6">6 seconds</option>
                <option value="7">7 seconds</option>
                <option value="8">8 seconds</option>
                <option value="9">9 seconds</option>
                <option value="10">10 seconds</option>
                <option value="11">11 seconds</option>
                <option value="12">12 seconds</option>
            </select>

            <div class="form-submit">
                <input type="submit" value="Update Settings">
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    function open() {
        $.ajax({
            url: "/api/node_3/control1",
            type: "GET",
            success: function() {
                alert("Door Opened!");
            },
            error: function() {
                alert("Door failed to open!");
            }
        });
    }
    function close() {
        $.ajax({
            url: "/api/node_3/control2",
            type: "GET",
            success: function() {
                alert("Door Closed!");
            },
            error: function() {
                alert("Door failed to close!");
            }
        });
    }
    function getHistory() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                type: "GET",
                url: "/api/node_3/history",
                success: function (result) {
                    resolve(result);
                },
                error: function (result) {
                    reject(result);
                }
            });
        })
    }
    function getRFID() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                type: "GET",
                url: "/api/node_3/rfid",
                success: function (result) {
                    resolve(result);
                },
                error: function (result) {
                    reject(result);
                }
            });
        })
    }
    function getStranger() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                type: "GET",
                url: "/api/node_3/stranger",
                success: function (result) {
                    resolve(result);
                },
                error: function (result) {
                    reject(result);
                }
            });
        })
    }
    $(document).ready(function() {
        $("#door-height").val({{ door_height }});
        $("#in-distance-threshold").val({{ in_distance_threshold }});
        $("#out-distance-threshold").val({{ out_distance_threshold }});
        $("#closing-duration").val({{ closing_duration }});
        $("#detection-duration").val({{ detection_duration }});
        $("#face-detection-duration").val({{ face_detection_duration }});
        $.fn.dataTableExt.oStdClasses.sWrapper = "cell-border dt-bootstrap5 no-footer";
        getHistory().then(function(data) {
            $('#historyTable').DataTable({
                data: data,
                columns: [
                    { title: "History ID", data: "history_id" },
                    { title: "Profile ID", data: "profile_id" },
                    { title: "Date", data: "date" },
                    { title: "Time", data: "time" },
                    { title: "Height", data: "height" },
                    { title: "Weight", data: "weight" },
                    { title: "BMI", data: "bmi" },
                    { title: "In House", data: "in_house" },
                ]
            });
        });
        getRFID().then(function(data) {
            $('#rfidTable').DataTable({
                data: data,
                columns: [
                    { title: "RFID ID", data: "rfid_id" },
                    { title: "Number", data: "number" },
                ]
            });
        });
        getStranger().then(function(data) {
            $('#strangerTable').DataTable({
                data: data,
                columns: [
                    { title: "Stranger ID", data: "stranger_id" },
                    { title: "Date", data: "date" },
                    { title: "Time", data: "time" },
                    { title: "Status", data: "status" },
                ]
            });
        });
    });
</script>
{% endblock %}