<!DOCTYPE html>
<head>
    <title>Smart Door Homepage</title>
    <link rel="stylesheet" href='/static/style.css'>
</head>

<body>
    <h1><a href="/">Smart Door</a></h1>
    <h2>Home Page</h2>
    
    <br>
    
    <h2>Video Feed</h2>
    
    <div class="feed">
        <img src="{{ url_for('feed') }}" alt="video feed">
        
        <p>Images taken (Take 10): {{ counter }}</p>
        <a href="/capture"><button class="homepage-control-btn" id="homepage-control-btn-open">Capture</button></a>
    </div>
    
    <br>
    
    <h2>Create Profile</h2>

    <div class="form">
        <form action="/create_profile" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        
            <label for="birthday">Birthday</label>
            <input type="date" id="birthday" name="birthday">
        
            <label for="height">Height (cm)</label>
            <input type="text" id="height" name="height">
        
            <label for="weight">Weight (kg)</label>
            <input type="text" id="weight" name="weight">
        
            <label for="location">Location</label>
            <select name="location" id="location">
                <option disabled selected value>-- Select --</option>
                <option value="1">Inside</option>
                <option value="0">Outside</option>
            </select>

            <div class="form-submit">
                <input type="submit" value="Create Profile">
            </div>
        </form>
    </div>
    
    <br>
    
    <h2>History Table</h2>

    <div class="table-container">
        <div class="table">
            <div class="table-row table-header">
                <div class="table-cell">History ID</div>
                <div class="table-cell">Profile ID</div>
                <div class="table-cell">Time</div>
                <div class="table-cell">Date</div>
                <div class="table-cell">Height (cm)</div>
                <div class="table-cell">Weight (kg)</div>
                <div class="table-cell">BMI</div>
                <div class="table-cell">Location</div>
            </div>
              
            {% for item in history %}
            <div class="table-row">
                <div class="table-cell">{{ item[0] }}</div>
                <div class="table-cell">{{ item[1] }}</div>
                <div class="table-cell">{{ item[2] }}</div>
                <div class="table-cell">{{ item[3] }}</div>
                <div class="table-cell">{{ item[4] }}</div>
                <div class="table-cell">{{ item[5] }}</div>
                <div class="table-cell">{{ item[6] }}</div>
                <div class="table-cell">{{ item[7] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <h2>Profile Table</h2>

    <div class="table-container">
        <div class="table">
            <div class="table-row table-header">
                <div class="table-cell">Profile ID</div>
                <div class="table-cell">RFID ID</div>
                <div class="table-cell">Name</div>
                <div class="table-cell">Birthday</div>
                <div class="table-cell">Height (cm)</div>
                <div class="table-cell">Weight (kg)</div>
                <div class="table-cell">BMI</div>
                <div class="table-cell">Location</div>
            </div>
              
            {% for item in profile %}
            <div class="table-row">
                <div class="table-cell">{{ item[0] }}</div>
                <div class="table-cell">{{ item[1] }}</div>
                <div class="table-cell">{{ item[2] }}</div>
                <div class="table-cell">{{ item[3] }}</div>
                <div class="table-cell">{{ item[4] }}</div>
                <div class="table-cell">{{ item[5] }}</div>
                <div class="table-cell">{{ item[6] }}</div>
                <div class="table-cell">{{ item[7] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <h2>RFID Table</h2>

    <div class="table-container">
        <div class="table">
            <div class="table-row table-header">
                <div class="table-cell">RFID ID</div>
                <div class="table-cell">Number</div>
            </div>
              
            {% for item in rfid %}
            <div class="table-row">
                <div class="table-cell">{{ item[0] }}</div>
                <div class="table-cell">{{ item[1] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <h2>Settings Table</h2>

    <div class="table-container">
        <div class="table">
            <div class="table-row table-header">
                <div class="table-cell">Settings ID</div>
                <div class="table-cell">Door Height</div>
                <div class="table-cell">In Distance Threshold</div>
                <div class="table-cell">Out Distance Threshold</div>
                <div class="table-cell">Closing Duration</div>
                <div class="table-cell">Detection Duration</div>
            </div>
              
            {% for item in settings %}
            <div class="table-row">
                <div class="table-cell">{{ item[0] }}</div>
                <div class="table-cell">{{ item[1] }}</div>
                <div class="table-cell">{{ item[2] }}</div>
                <div class="table-cell">{{ item[3] }}</div>
                <div class="table-cell">{{ item[4] }}</div>
                <div class="table-cell">{{ item[5] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <h2>Stranger Table</h2>

    <div class="table-container">
        <div class="table">
            <div class="table-row table-header">
                <div class="table-cell">Stranger ID</div>
                <div class="table-cell">Time</div>
                <div class="table-cell">Date</div>
                <div class="table-cell">Status</div>
            </div>
              
            {% for item in stranger %}
            <div class="table-row">
                <div class="table-cell">{{ item[0] }}</div>
                <div class="table-cell">{{ item[1] }}</div>
                <div class="table-cell">{{ item[2] }}</div>
                <div class="table-cell">{{ item[3] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    
<!--
    <div class="navigation">
        <a href="/"><button class="navigation-btn">Home</button></a>
        <a href="/profile"><button class="navigation-btn">Profile</button></a>
        <a href="/history"><button class="navigation-btn">History</button></a>
        <a href="/settings"><button class="navigation-btn">Settings</button></a>
    </div>

    <h2>Controls</h2>
    
    {% for pin in pins %}
    {% if pins[pin].state == 0 %}
    <h3>The door is closed!</h3>
    {% else %}
    <h3>The door is open!</h3>
    {% endif %}
    {% endfor %}

    <div class="homepage-control">
        <a href="/control1"><button class="homepage-control-btn" id="homepage-control-btn-open">Open</button></a>
        <a href="/control2"><button class="homepage-control-btn" id="homepage-control-btn-close">Close</button></a>
    </div>

    <h2>Dashboard</h2>

    {% if displayDashboard == True: %}
    {% for item in profile %}
    <div class="homepage-profile">
        <h2 class="homepage-profile-name">{{ item[1] }}</h2>

        <div class="homepage-profile-container">
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute">Permission</p>
                
                {% if item[2] == 0: %}
                <p class="homepage-profile-value">Denied</p>
                {% else %}
                <p class="homepage-profile-value">Granted</p>
                {% endif %}
            </div>
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute">Location</p>
                
                {% if item[3] == 0: %}
                <p class="homepage-profile-value">Outside</p>
                {% else %}
                <p class="homepage-profile-value">Inside</p>
                {% endif %}
            </div>
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute">Health</p>
                
                {% if item[6] >= item[4]: %}
                <p class="homepage-profile-value">Overweight</p>
                {% elif item[6] < item[5]: %}
                <p class="homepage-profile-value">Underweight</p>
                {% elif item[6] < item[4] and item[6] >= item[5]: %}
                <p class="homepage-profile-value">Healthy</p>
                {% else %}
                <p class="homepage-profile-value">-</p>
                {% endif %}
            </div>
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute">Latest Weight (kg)</p>
                
                {% for data in latest %}
                {% if data[0] == item[0]: %}
                <p class="homepage-profile-value">{{ data[3] }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute">Number of Entrances (Today)</p>
                
                {% for data in passnumber %}
                {% if data[0] == item[0]: %}
                <p class="homepage-profile-value">{{ data[1] }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute">Number of Exits (Today)</p>
                
                {% for data in passnumber %}
                {% if data[0] == item[0]: %}
                <p class="homepage-profile-value">{{ data[2] }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute">Last Passed</p>
                
                {% for data in latest %}
                {% if data[0] == item[0]: %}
                <p class="homepage-profile-value">{{ data[2] }} {{ data[1] }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="homepage-profile-box">
                <p class="homepage-profile-attribute"></p>
                <p class="homepage-profile-value"></p>
            </div>
            <div class="homepage-profile-box">
                <div class="homepage-permission">
                    {% if item[2] == 0: %}
                    <a href="/setpermission/{{ item[1] }}/grant"><button class="homepage-permission-grant-btn" name="permission-button">Grant</button></a>
                    {% else %}
                    <a href="/setpermission/{{ item[1] }}/deny"><button class="homepage-permission-deny-btn" name="permission-button">Deny</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
-->
</body>

</html>
